@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Cantora One", sans-serif;
    color: var(--primary-color);
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}
.watchContainer{
    width: 100%;
    max-width: 800px;
    height: 400px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    font-weight: 700;
    font-size: 5rem;
}